{% extends 'admin/admin_index.html' %}
{% block body %}

<body>
<h1>ADMIN HOME</h1>
{#<table width="580" height="565" border="1">#}
{#  <tr>#}
{#    <td><p><a href="/view_driver">ACCEPT OR REJECT DRIVER</a></p>#}
{##}
{#    <p><a href="/view_user">VIEW USER</a></p>#}
{##}
{#<p><a href="/view_vehicles">VIEW VHICLES</a></p>#}
{#    <p><a href="/sendn">SEND NOTIFICATION</a></p>#}
{#    <p><a href="/view_complaint">VIEW COMPLAINT</a></p>#}
{#      <p><a href="/view_rating">VIEW RATING</a></p>#}
{#        <p><a href="/view_feedback">VIEW FEEDBACK</a></p>#}
{#    <p>&nbsp;</p></td>#}
{#  </tr>#}
{#</table>#}
</body>
{% endblock %}