{% extends 'admin/admin_index.html' %}
{% block body %}
<body>
<table width="200" border="1" class="table table-responsive">
  <tr>
    <th scope="col" style="color: black">#</th>
    <th scope="col" style="color: black">Category</th>
      <th></th>

  </tr>
    {% for i in data %}
  <tr>
    <td style="color: black">&nbsp;{{ loop.index }}</td>
    <td style="color: black">&nbsp;{{ i['category'] }}</td>
   <td><p><a href="/delete_category/{{ i['id'] }}" onclick="return confirm('ARE YOU SURE?')" class="btn btn-danger">DELETE</a></p></td>
  </tr>
    {% endfor %}
</table>
</body>
{% endblock %}
