{% extends 'admin/admin_index.html' %}
{% block body %}

<body>
<table  border="1" class="table table-responsive  table tab-content">
  <tr>
    <th scope="col" style="color: black">#</th>
    <th scope="col" style="color: black">Driver Name</th>
    <th scope="col" style="color: black">Phone</th>
    <th scope="col" style="color: black">Vehicle Type</th>
    <th scope="col" style="color: black">Vehicle Number</th>
    <th scope="col" style="color: black">Seats</th>


  </tr>
     {% for i in data %}
  <tr>
      <td style="color: black">&nbsp;{{ loop.index }}</td>
    <td style="color: black">&nbsp;{{ i['name'] }}</td>
    <td style="color: black">&nbsp;{{ i['phone'] }}</td>
    <td style="color: black">&nbsp;{{ i['vehicle_type'] }}</td>
    <td style="color: black">&nbsp;{{ i['vehicle_no'] }}</td>
    <td style="color: black">&nbsp;{{ i['available_seats'] }}</td>


  </tr>
    {% endfor %}
</table>
</body>
{% endblock %}
