<html>


<body>
<form id="form1" name="form1" method="post" action="/login">
  <div align="center">
{#    <h1>LOGIN</h1>#}

    <table >
      <tr>
          <th scope="row"><p style="color: #4d0707">USERNAME</p></th>
        <td><label for="textfield"></label>
        <input type="text" name="textfield" id="textfield" required/></td>
      </tr>
      <tr>
        <th scope="row">PASSWORD</th>
        <td><label for="textfield2"></label>
        <input type="password" name="textfield2" id="textfield2" required/></td>
      </tr>
      <tr>
          <th colspan="2" scope="row" align="center"><p align="center" style="color: #ff2729"><input type="submit" name="button" id="button" value="LOGIN" /></p></th></tr>
        <tr> <th colspan="2" scope="row"><p align="center"><a href="/">HOME</a></p></th></tr>
{#        <tr>  <th colspan="2" scope="row"><p align="center"><a href="/user_register">user registrtion</a></p></th>#}
      </tr>
    </table>
  </div>
</form>
</body>
</html>
